$couleur-1: #9356DC;
$couleur-2: #FF79DA;
$couleur-3: #99E2D0;
$couleur-bg-page: #FFFFFF;
$couleur-bg-bloc: #F2F2F2;
$couleur-bg-footer: #353535;
$couleur-txt-page: #000000;
$couleur-txt-btn: #FFFFFF;
$couleur-txt-footer: #FFFFFF;

@function decal_clarte ($couleur, $decalage) {
    @if (lightness($couleur) < 50%) {
        @return lighten($couleur, $decalage);
    } @else {
        @return darken($couleur, $decalage);
    }
}

@font-face {
	font-family: "Roboto";
	src: url("./polices/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Shrikhand";
	src: url("./polices/Shrikhand/Shrikhand-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    background-color: $couleur-bg-page;
}

body {
    color: $couleur-txt-page;
    font-family: "Roboto";
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    padding: 25px 0 15px;
    figure {
        margin: 0;
    }
}

.intro {
    background-color: $couleur-bg-bloc;
    text-align: center;
    padding-bottom: 40px;
    &__lieu {
        background-color: decal_clarte($couleur-bg-bloc, 10%);
        width: 100%;
        padding: 15px;
        border-top: 3px solid decal_clarte($couleur-bg-bloc, 20%);
    }
    &__titre {
        margin: 40px 12% 20px;
    }
    &__descrip {
        margin: 0 12% 30px;
    }
    &__btn {
        color: $couleur-txt-btn;
        background-color: $couleur-1;
        border: none;
        border-radius: 25px;
        padding: 15px 20px;
        box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
        cursor: pointer;
    }
}

.navig {
    padding: 40px 20px;
    &__titre {
        margin-top: 0;
    }
    &__opt {
        list-style-type: none;
        padding: 0;
        li {
            background-color: $couleur-bg-bloc;
            margin-bottom: 20px;
            padding: 20px 0;
            border-radius: 20px;
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
        }
    }
}

.restos {
    background-color: $couleur-bg-bloc;
    padding: 40px 20px;
    &__titre {
        margin-top: 0;
    }
    &__liste {

    }
    &__select {
        background-color: yellow;
        height: 200px;
        margin-bottom: 15px;
        border-radius: 15px;
        position: relative;
        div {
            display: none;
        }
        &--nouv div {
            display: block;
            background-color: $couleur-3;
            color: decal_clarte($couleur-3, 40%);
            padding: 10px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}

footer {
    background-color: $couleur-bg-footer;
    color: $couleur-txt-footer;
    padding: 20px;
    h3 {
        font-family: "Shrikhand";
        margin-top: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            margin-top: 8px;
        }
    }
}
