$couleur-1: #9356DC;
$couleur-2: #FF79DA;
$couleur-3: #99E2D0;
$couleur-bg-page: #FFFFFF;
$couleur-bg-header: #FFFFFF;
$couleur-bg-bloc: #F2F2F2;
$couleur-bg-resto: #FFFFFF;
$couleur-bg-footer: #353535;
$couleur-txt-page: #000000;
$couleur-txt-btn: #FFFFFF;
$couleur-txt-footer: #FFFFFF;

$taille-bloc-index: 25px;
$taille-txt-index: $taille-bloc-index * (2/3);

@function decal_clarte ($couleur, $decalage) {
    @if (lightness($couleur) < 50%) {
        @return lighten($couleur, $decalage);
    } @else {
        @return darken($couleur, $decalage);
    }
}

@font-face {
	font-family: "Roboto";
	src: url("./polices/Roboto/Roboto-Regular.ttf");
}

@font-face {
	font-family: "Shrikhand";
	src: url("./polices/Shrikhand/Shrikhand-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    background-color: $couleur-bg-page;
}

body {
    color: $couleur-txt-page;
    font-family: "Roboto";
    max-width: 1440px;
    margin: 0 auto;
}

@keyframes kf-loader {
    100% {transform: scaleY(0);}
}

@keyframes kf-spinner {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}

.loader {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 2;
    transform-origin: top;
    animation: kf-loader 300ms 3000ms forwards;
    .spinner {
        background: rgba(0, 0, 0, 0);
        width: 100px;
        height: 100px;
        margin: auto;
        position: relative;
        &__point {
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            animation: kf-spinner 1500ms infinite ease-out;
            &--1 {animation-delay: 0ms;}
            &--2 {animation-delay: 500ms;}
            &--3 {animation-delay: 1000ms;}
            div {
                background: #000000;
                width: 20px;
                height: 20px;
                margin: auto;
                border-radius: 10px;
            }
        }
    }
}

header {
    background-color: $couleur-bg-header;
    display: flex;
    justify-content: center;
    figure {
        line-height: 0;
        margin: 25px 0 15px 0;
    }
}

.intro {
    background-color: $couleur-bg-bloc;
    text-align: center;
    padding-bottom: 40px;
    &__lieu {
        display: flex;
        justify-content: center;
        background-color: decal_clarte($couleur-bg-bloc, 10%);
        width: 100%;
        padding: 15px;
        border-top: 3px solid decal_clarte($couleur-bg-bloc, 20%);
        p {
            margin: 0;
            position: relative;
            i {
                position: absolute;
                left: -25px;
            }
        }
    }
    &__titre {
        margin: 40px 12% 20px;
    }
    &__descrip {
        margin: 0 12% 30px;
    }
    &__btn {
        color: $couleur-txt-btn;
        background: linear-gradient(to top left, $couleur-1, $couleur-2);
        box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
        border: none;
        border-radius: 25px;
        padding: 15px 20px;
        cursor: pointer;
        position: relative;
        z-index: 1;
        &:hover {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0; bottom: 0; left: 0; right: 0;
            background: linear-gradient(to top left, lighten($couleur-1, 5%), lighten($couleur-2, 5%));
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 30%);
            border-radius: 25px;
            opacity: 0;
            z-index: -1;
            transition: opacity 300ms;
        }
    }
}

.navig {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    @media (min-width: 577px) {
        align-items: center;
    }
    &__titre {
        margin-top: 0;
    }
    &__opt {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        @media (min-width: 769px) {
            flex-direction: row;
        }
        .element {
            display: flex;
            align-items: center;
            background-color: $couleur-bg-bloc;
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
            min-width: 220px;
            max-width: 350px;
            margin-bottom: 20px;
            padding: 20px 20px 20px 0;
            border-radius: 20px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            @media (min-width: 577px) {
                width: 350px;
            }
            @media (min-width: 769px) {
                width: auto;
                margin: 0 20px;
            }
            &:hover {
                &::after {
                    opacity: 1;
                }
                figure i:nth-child(2) {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                background-color: decal_clarte($couleur-bg-bloc, 15%);
                box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 30%);
                border-radius: 20px;
                opacity: 0;
                z-index: -1;
                transition: opacity 300ms;
            }
            &__index {
                display: flex;
                background-color: $couleur-1;
                min-width: $taille-bloc-index;
                min-height: $taille-bloc-index;
                border-radius: $taille-bloc-index / 2;
                font-size: $taille-txt-index;
                position: relative;
                right: 8px;
                div {
                    color: #FFFFFF;
                    margin: auto;
                }
            }
            &__icone {
                line-height: 0;
                margin: 0 20px;
                padding-right: 8px;
                position: relative;
                @media (min-width: 769px) {
                    margin: 0 10px;
                }
                i {
                    text-align: center;
                    width: 20px;
                }
                i:nth-child(1) {
                    color: decal_clarte($couleur-bg-bloc, 40%);
                }
                i:nth-child(2) {
                    color: $couleur-1;
                    position: absolute;
                    top: 0; left: 0;
                    opacity: 0;
                    transition: opacity 300ms;
                }
            }
            &__txt {
                margin: 0;
                @media (min-width: 769px) {
                    text-align: center;
                }
            }
        }
    }
}

.restos {
    display: flex;
    flex-direction: column;
    background-color: $couleur-bg-bloc;
    padding: 40px 20px;
    @media (min-width: 577px) {
        align-items: center;
    }
    &__titre {
        margin-top: 0;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        @media (min-width: 577px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
        .element {
            background-color: $couleur-bg-resto;
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-resto, 15%);
            margin-bottom: 15px;
            border-radius: 15px;
            @media (min-width: 577px) {
                width: 400px;
                margin: 20px;
            }
            &__haut {
                display: block;
                border-radius: 15px 15px 0 0;
                overflow: hidden;
                cursor: pointer;
                position: relative;
            }
            &__nouveau {
                display: none;
                &--affiche {
                    display: block;
                    background-color: $couleur-3;
                    color: decal_clarte($couleur-3, 40%);
                    padding: 10px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
            &__image {
                height: 175px;
                margin: 0;
                background-size: cover;
                background-position: center;
                &--img1 {background-image: url("./images/restaurants/la_palette_du_gout.jpg");}
                &--img2 {background-image: url("./images/restaurants/la_note_enchantee.jpg");}
                &--img3 {background-image: url("./images/restaurants/a_la_francaise.jpg");}
                &--img4 {background-image: url("./images/restaurants/le_delice_des_sens.jpg");}
            }
            &__bas {
                border-radius: 0 0 15px 15px;
                position: relative;
                z-index: 1;
                h3 {
                    margin: 0;
                    padding: 15px 0 5px 10px;
                }
                p {
                    margin: 0;
                    padding: 0 0 15px 10px;
                }
                figure {
                    line-height: 0;
                    margin: 0;
                    cursor: pointer;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    &:hover {
                        i:nth-child(1) {
                            color: $couleur-1;
                        }
                        i:nth-child(2) {
                            opacity: 1;
                        }
                    }
                    i {
                        font-size: 28px;
                    }
                    i:nth-child(1) {
                        color: #000000;
                        transition: color 300ms;
                    }
                    i:nth-child(2) {
                        position: absolute;
                        top: 0; left: 0;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        background-image: linear-gradient(to bottom left, $couleur-1, $couleur-2);
                        opacity: 0;
                        transition: opacity 300ms;
                    }
                }
            }
        }
    }
}

/*.restos {
    display: flex;
    flex-direction: column;
    background-color: $couleur-bg-bloc;
    padding: 40px 20px;
    @media (min-width: 577px) {
        align-items: center;
    }
    &__titre {
        margin-top: 0;
    }
    &__liste {
        display: flex;
        flex-direction: column;
        @media (min-width: 577px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media (min-width: 1200px) {
            max-width: 1000px;
        }
        .element {
            background-color: $couleur-bg-resto;
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-resto, 15%);
            margin-bottom: 15px;
            border-radius: 15px;
            @media (min-width: 577px) {
                width: 400px;
                margin: 20px;
            }
            &__haut {
                cursor: pointer;
                position: relative;
            }
            &__nouveau {
                display: none;
                &--affiche {
                    display: block;
                    background-color: $couleur-3;
                    color: decal_clarte($couleur-3, 40%);
                    padding: 10px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                }
            }
            &__image {
                height: 175px;
                margin: 0;
                border-radius: 15px 15px 0 0;
                background-size: cover;
                background-position: center;
                &--img1 {background-image: url("./images/restaurants/la_palette_du_gout.jpg");}
                &--img2 {background-image: url("./images/restaurants/la_note_enchantee.jpg");}
                &--img3 {background-image: url("./images/restaurants/a_la_francaise.jpg");}
                &--img4 {background-image: url("./images/restaurants/le_delice_des_sens.jpg");}
            }
            &__bas {
                border-radius: 0 0 15px 15px;
                position: relative;
                z-index: 1;
                h3 {
                    margin: 0;
                    padding: 15px 0 5px 10px;
                }
                p {
                    margin: 0;
                    padding: 0 0 15px 10px;
                }
                figure {
                    line-height: 0;
                    margin: 0;
                    cursor: pointer;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    &:hover {
                        i:nth-child(2) {
                            opacity: 1;
                        }
                    }
                    i:nth-child(1) {
                        color: #000000;
                    }
                    i:nth-child(2) {
                        position: absolute;
                        top: 0; bottom: 0; left: 0; right: 0;
                        z-index: -1;
                        opacity: 0;
                        transition: opacity 250ms;
                        &::before {
                            background: linear-gradient($couleur-1, $couleur-2);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
    }
}*/

footer {
    display: flex;
    flex-direction: column;
    background-color: $couleur-bg-footer;
    color: $couleur-txt-footer;
    padding: 20px;
    @media (min-width: 577px) {
        align-items: center;
        padding: 40px;
    }
    h3 {
        font-family: "Shrikhand";
        margin: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        @media (min-width: 769px) {
            display: flex;
        }
        li {
            margin-top: 8px;
            @media (min-width: 769px) {
                margin-left: 20px;
                margin-right: 20px;
            }
            i {
                text-align: center;
                width: 20px;
                margin-right: 10px;
            }
            a {
                color: $couleur-txt-footer;
                text-decoration: none;
                &:hover {
                    font-style: italic;
                }
            }
        }
    }
}
