$couleur-1: #9356DC;
$couleur-2: #FF79DA;
$couleur-3: #99E2D0;
$couleur-bg-page: #FFFFFF;
$couleur-bg-header: #FFFFFF;
$couleur-bg-bloc: #F2F2F2;
$couleur-bg-footer: #353535;
$couleur-txt-page: #000000;
$couleur-txt-btn: #FFFFFF;
$couleur-txt-footer: #FFFFFF;

@function decal_clarte ($couleur, $decalage) {
    @if (lightness($couleur) < 50%) {
        @return lighten($couleur, $decalage);
    } @else {
        @return darken($couleur, $decalage);
    }
}

@keyframes menu-affiche {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@font-face {
	font-family: "Roboto-medium";
	src: url("./polices/Roboto/Roboto-Medium.ttf");
}

@font-face {
	font-family: "Roboto-light";
	src: url("./polices/Roboto/Roboto-Light.ttf");
}

@font-face {
	font-family: "Shrikhand";
	src: url("./polices/Shrikhand/Shrikhand-Regular.ttf");
}

* {
    box-sizing: border-box;
}

html {
    background-color: $couleur-bg-page;
}

body {
    background-color: $couleur-bg-bloc;
    color: $couleur-txt-page;
    font-family: "Roboto-medium";
    max-width: 1440px;
    margin: 0 auto;
}

header {
    background-color: $couleur-bg-header;
    display: flex;
    justify-content: center;
    position: relative;
    figure {
        line-height: 0;
    }
    figure:nth-child(1) {
        margin: 25px 0 15px;
    }
    figure:nth-child(2) {
        margin: 20px;
        border-radius: 17px;
        position: absolute;
        top: 0; left: 0;
        &:hover {
            background-color: decal_clarte($couleur-bg-header, 15%);
        }
        i {
            color: #000000;
            font-size: 20px;
            padding: 7px;
        }
    }
}

.img-intro {
    height: 250px;
    margin: 0;
    background-size: cover;
    background-position: center;
    &--a-la-francaise {background-image: url("./images/restaurants/a_la_francaise.jpg");}
    &--la-note-enchantee {background-image: url("./images/restaurants/la_note_enchantee.jpg");}
    &--la-palette-du-gout {background-image: url("./images/restaurants/la_palette_du_gout.jpg");}
    &--le-delice-des-sens {background-image: url("./images/restaurants/le_delice_des_sens.jpg");}
    @media (min-width: 769px) {
        height: 400px;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $couleur-bg-bloc;
    padding: 35px 20px;
    border-radius: 35px 35px 0 0;
    position: relative;
    bottom: 35px;
    > figure {
        margin: 0;
        cursor: pointer;
        position: absolute;
        top: 40px; right: 40px;
        &:hover {
            i:nth-child(1) {
                opacity: 0;
            }
            i:nth-child(2) {
                opacity: 1;
            }
        }
        i {
            font-size: 28px;
        }
        i:nth-child(1) {
            color: #000000;
            transition: opacity 300ms;
        }
        i:nth-child(2) {
            position: absolute;
            top: 0; left: 0;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(to bottom left, $couleur-1, $couleur-2);
            opacity: 0;
            transition: opacity 300ms;
        }
    }
    h1 {
        align-self: flex-start;
        font-family: "Shrikhand";
        font-size: 1.6em;
        font-weight: normal;
        width: 100%;
        margin: 0 0 35px 0;
        @media (min-width: 577px) {
            font-size: 2em;
            padding: 0 20px;
        }
    }
    .menu {
        width: 100%;
        max-width: 450px;
        @media (min-width: 769px) {
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &__liste {
            margin: 0 0 50px 0;
            @media (min-width: 769px) {
                margin: 0 20px 50px 20px;
            }
            @media (min-width: 1200px) {
                width: 28%;
            }
            h2 {
                font-size: 1em;
                font-family: "Roboto-light";
                font-weight: normal;
                margin: 0 0 0 10px;
            }
            hr {
                background-color: $couleur-3;
                border: none;
                width: 40px;
                height: 3px;
                margin: 8px 0 0 10px;
            }
            &--1  .element {animation-delay: 300ms;}
            &--2  .element {animation-delay: 800ms;}
            &--3  .element {animation-delay: 1300ms;}
        }
    }
    .element {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        list-style-type: none;
        padding: 15px;
        margin: 20px 0;
        box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        animation: menu-affiche 1000ms both;
        @media (min-width: 769px) {
            width: 324px;
        }
        @media (min-width: 1200px) {
            width: 100%;
        }
        &:hover {
            .element__prix {
                margin-right: 80px;
            }
            .element__valide {
                transform: translateX(-100%);
                i {
                    transform: rotate(2turn);
                }
            }
        }
        &__plat {
            min-width: 0px;
            h3 {
                margin: 0 0 5px 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                font-family: "Roboto-light";
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &__prix {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            transition: margin-right 1000ms;
            p {
                margin: 0 0 0 15px;
            }
        }
        &__valide {
            background-color: $couleur-3;
            display: flex;
            width: 80px;
            height: 100%;
            position: absolute;
            bottom: 0; right: -80px;
            transition: transform 1000ms;
            i {
                color: #FFFFFF;
                margin: auto;
                transition: transform 1000ms;
            }
        }
    }
    .commander {
        text-align: center;
        button {
            color: $couleur-txt-btn;
            background: linear-gradient(to top left, $couleur-1, $couleur-2);
            font-family: "Roboto-medium";
            box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 15%);
            border: none;
            border-radius: 25px;
            padding: 15px 40px;
            cursor: pointer;
            position: relative;
            z-index: 1;
            &:hover {
                &::after {
                    opacity: 1;
                }
            }
            &::after {
                content: "";
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                background: linear-gradient(to top left, lighten($couleur-1, 5%), lighten($couleur-2, 5%));
                box-shadow: 4px 4px 4px decal_clarte($couleur-bg-bloc, 30%);
                border-radius: 25px;
                opacity: 0;
                z-index: -1;
                transition: opacity 300ms;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: $couleur-bg-footer;
    color: $couleur-txt-footer;
    padding: 20px;
    @media (min-width: 577px) {
        align-items: center;
        padding: 40px;
    }
    h3 {
        font-family: "Shrikhand";
        margin: 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        @media (min-width: 769px) {
            display: flex;
        }
        li {
            margin-top: 8px;
            @media (min-width: 769px) {
                margin-left: 20px;
                margin-right: 20px;
            }
            i {
                text-align: center;
                width: 20px;
                margin-right: 10px;
            }
            a {
                color: $couleur-txt-footer;
                text-decoration: none;
                &:hover {
                    font-style: italic;
                }
            }
        }
    }
}
