@font-face {
  font-family: "Roboto";
  src: url("./polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./polices/Shrikhand/Shrikhand-Regular.ttf");
}
* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
}

body {
  color: #000000;
  font-family: "Roboto";
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  padding: 25px 0 15px;
}
header figure {
  margin: 0;
}

main {
  background-color: #F2F2F2;
  padding: 35px 20px;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 35px;
}
main h1 {
  margin: 0;
}
main .element {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 15px;
  box-shadow: 4px 4px 4px #cccccc;
  border-radius: 15px;
  overflow: visible;
  position: relative;
}
main .element:hover .element__prix {
  margin-right: 80px;
}
main .element:hover .element__valide {
  transform: translateX(-100%);
}
main .element:hover .element__valide img {
  transform: rotate(2turn);
}
main .element__plat {
  background-color: olive;
  min-width: 0px;
}
main .element__plat h3 {
  background-color: lime;
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .element__plat p {
  background-color: aqua;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .element__prix {
  background-color: teal;
  min-width: 70px;
  transition: margin-right 1000ms;
}
main .element__valide {
  background-color: red;
  display: flex;
  width: 80px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -80px;
  transition: transform 1000ms;
}
main .element__valide img {
  margin: auto;
  transition: transform 1000ms;
}
main button {
  color: #FFFFFF;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 4px 4px 4px #cccccc;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
main button:hover::after {
  opacity: 1;
}
main button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 4px 4px 4px #a6a6a6;
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.img-intro {
  height: 250px;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.img-intro--alafrancaise {
  background-image: url("./images/restaurants/a_la_francaise.jpg");
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-top: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin-top: 8px;
}
footer ul li img {
  margin-right: 10px;
}
footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer ul li a:hover {
  font-style: italic;
}
