@keyframes menu-affiche {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Roboto";
  src: url("./polices/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("./polices/Shrikhand/Shrikhand-Regular.ttf");
}
* {
  box-sizing: border-box;
}

html {
  background-color: #FFFFFF;
}

body {
  background-color: #F2F2F2;
  color: #000000;
  font-family: "Roboto";
  max-width: 1440px;
  margin: 0 auto;
}

header {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  position: relative;
}
header figure {
  line-height: 0;
}
header figure:nth-child(1) {
  margin: 25px 0 15px;
}
header figure:nth-child(2) {
  margin: 20px;
  border-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
header figure:nth-child(2):hover {
  background-color: #d9d9d9;
}

/*header {
    background-color: $couleur-bg-header;
    display: flex;
    justify-content: center;
    padding: 25px 0 15px;
    position: relative;
    figure {
        line-height: 0;
        margin: 0;
    }
    figure:nth-child(2) {
        border-radius: 17px;
        position: absolute;
        left: 20px;
        &:hover {
            background-color: decal_clarte($couleur-bg-header, 15%);
        }
    }
}*/
main {
  background-color: #F2F2F2;
  padding: 35px 20px;
  border-radius: 35px 35px 0 0;
  position: relative;
  bottom: 35px;
}
main h1 {
  margin: 0 0 35px 0;
}
main .menu__liste {
  margin: 0 0 50px 0;
}
main .menu__liste h2 {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 0 10px;
}
main .menu__liste hr {
  background-color: #99E2D0;
  border: 1px solid #99E2D0;
  width: 40px;
  height: 3px;
  margin: 8px 0 0 10px;
}
main .menu__liste--1 .element {
  animation-delay: 300ms;
}
main .menu__liste--2 .element {
  animation-delay: 800ms;
}
main .menu__liste--3 .element {
  animation-delay: 1300ms;
}
main .element {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  list-style-type: none;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 4px 4px 4px #cccccc;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  animation: menu-affiche 1000ms both;
}
main .element:hover .element__prix {
  margin-right: 80px;
}
main .element:hover .element__valide {
  transform: translateX(-100%);
}
main .element:hover .element__valide img {
  transform: rotate(2turn);
}
main .element__plat {
  min-width: 0px;
}
main .element__plat h3 {
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .element__plat p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .element__prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  transition: margin-right 1000ms;
}
main .element__prix p {
  font-weight: bold;
  margin: 0 0 0 15px;
}
main .element__valide {
  background-color: #99E2D0;
  display: flex;
  width: 80px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: -80px;
  transition: transform 1000ms;
}
main .element__valide img {
  margin: auto;
  border-radius: 11px;
  transition: transform 1000ms;
}
main .commander {
  text-align: center;
}
main .commander button {
  color: #FFFFFF;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  box-shadow: 4px 4px 4px #cccccc;
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
main .commander button:hover::after {
  opacity: 1;
}
main .commander button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top left, #a16be0, #ff93e1);
  box-shadow: 4px 4px 4px #a6a6a6;
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms;
}

.img-intro {
  height: 250px;
  margin: 0;
  background-size: cover;
  background-position: center;
}
.img-intro--alafrancaise {
  background-image: url("./images/restaurants/a_la_francaise.jpg");
}

footer {
  background-color: #353535;
  color: #FFFFFF;
  padding: 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-top: 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul li {
  margin-top: 8px;
}
footer ul li img {
  margin-right: 10px;
}
footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer ul li a:hover {
  font-style: italic;
}
